.buttons {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.custom-button {
  width: 222px!important;
  min-width: unset!important;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #0D93F8 !important;
}


.excenge-rates {
  padding-top: 22px;
}

.title-currency {
  padding-top: 13px;
  text-align: center;
}
