<header class='flex'>
  <img
    alt='Nx logo'
    width='75'
    src='https://nx.dev/assets/images/nx-logo-white.svg'
  />
  <h1>{{ title }}!</h1>
</header>
<div class='container'>
  <div class='position-succsess'>
    <div class='success-checkmark'>
      <div class='check-icon'>
        <span class='icon-line line-tip'></span>
        <span class='icon-line line-long'></span>
        <div class='icon-circle'></div>
        <div class='icon-fix'></div>
      </div>
    </div>
  </div>
  <div class='main-text'>
    {{message}}
  </div>
</div>

